/* --- Controles do Header --- */
#header-estoque {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-alignment: center;
}

#btnProduto, #btnAtualizar {
    -fx-background-color: #0078D7; /* Cor de destaque padrão */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
}

#btnProduto:hover, #btnAtualizar:hover {
    -fx-background-color: #005A9E; /* Tom mais escuro para hover */
}

#txtProduto {
    -fx-background-color: #424650;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #25272D;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-prompt-text-fill: #AAAAAA;
}

#txtProduto:focused {
    -fx-border-color: #0078D7;
}

#tabela{
    -fx-background-color: #30333B;
    -fx-text-fill: #FFFFFF;
}